.outerdiv:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.outerdiv{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  /*height:320px;*/
    margin-top:20px;

}
.details{
  background-color: #222222;
  height:30px;
  color:white;

    text-align:center;
    padding-top: 4px;
}
#head{
  font-size: 17px;
  font-weight: 600;
}
#cont{
  color:#B12704;
  font-size: 15px;
}
.content{
  /*padding:5px;*/
}
