#details{
  background-color: grey;
  height:30px;
  color:white;

  /*border-radius: 5px;*/
    text-align:center;
    /*padding-top: 4px;*/
      /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);*/
}
#img{
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);*/
}
#specifications{
  margin-top: 40px;
  text-align: center;
  /*font-weight: 900;*/
  height: 100%;
  font-size: 18px;
  /*border: 1px solid;*/
  /*background-color: grey*/
}
h4{
font-weight: 900;
font-size: 25px;
/*color: grey;*/
}
#des{
  font-size: 18px;
  padding:4px;

}
button{
  width:100%;
  height:40px;
  background-color: #222222;
  color:white
}
.specs{
  padding:4px;
}
#content{
  margin-top: 50px;
}
#rating{
  font-size: 18px;
  padding-bottom: 2px;
}
.toast-top-right {
margin-buttom: 900px;
}
.msg{
  font-size: 30px;
  color: green
}
#toast-container{
margin-bottom: -550px;

}
