#sidebarDiv{
  padding: 10px;
  height: 85%;
  width:200px;
  position: fixed;
  /*z-index: 1;*/

box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

margin-left:10px;

}
.brand{
  /*margin-top: 10px;*/
  font-size:15px;

}
button{
  background-color: #222222;
    color:white;
    text-align:center;
    padding: 2px;

}

/*@media (max-width :550px) {
#sidebarDiv{

margin-top: 80px;
}


}*/
